#root {
  width: 100%;
  height :100%;
}

html, body {
  
  
  height: 100%;
  width: 100%;
  background-color: black;
  color: snow;
}

*{
  box-sizing:border-box;
}

div{
  height:100%;
}

#playArea{
  overflow: auto;
  height: calc(100% - 120px);
  width:100%;
  
  table {
  width: 100%;
  height: 100%;
  border-collapse: collapse;
  }
  
  tr > td {
    border: 0px solid #000000;

    button#mainSwitch{
      width: 100%;
      height:100%;
      min-height:30px;
      min-width:30px;
      background-color: blue;
      border-radius: 0px;
    
      :hover{
        width:100%;
        height:100%;
      }
    }

  }
}



#menu{
  overflow: auto;
  position: sticky;
  top: 0px;
  height:10%;
  max-width: 1700px;
  min-height: 120px;
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  margin: auto;


  p{
    display: grid;
    grid-auto-flow: column;
    place-items: center;
    align-items: center;
    align-content: center;
    text-align: center;
    margin:3px;
    grid-auto-flow: row;
    inline-size:95%;
    width:100%;
  }
  
  div{
    display: grid;
    grid-auto-flow: column;
    place-items: center;
    margin: 10px;
    background-color: darkred;
    height: 75%;
    width: auto;
  }

  button,input{
    margin:5px;
  }

  #table_cnt_out{
    background: darkgoldenrod;
    text-align: center;
    height: 100%-20px;
    button{
      width: auto;
      font-size: small;
      margin: 0;
      padding: 5px;
    }
  }

  #table_cnt_in{
    background: rgb(216, 158, 11);
    color: white;
    height: 100%-20px;
    input{
      margin-right: 5px;
    }
  }

  #random{
    height: auto;
    width: auto;
    
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    background: darkgreen;

    button{
      background: lightgreen;
      
    }
  }

  #reset{
    background: green;
  }

  input{
    width: 3rem;
    
    display: grid;
    grid-auto-flow: column;
    place-items: center;
  }

  input#step_time{
    width: 4rem;
    
    display: grid;
    grid-auto-flow: column;
    place-items: center;
  }

  input#hasAuto,input#hasLoop{
    width:20px;
    height: 20px;
    
  }

  button{
    display: grid;
    grid-auto-flow: column;
    place-items: center;
    align-items: center;
    
  }
  button#next{
    background: lightcoral;
  }
  button#reset{
    background: black;
    color: aqua;
    
  }

  #auto_step{
    display: grid;
  }

  #stat{
    background: darkblue;
    width: 90%;
    p{
      overflow:break-word;
      word-break: keep-all;
    }

  }

  input#show_as_button{
    width:20px;
    height: 20px;
  }

}

div#stat{
  textarea#export{
    width: 100%;
    height: 90%;
    background-color: midnightblue;
    color: aliceblue;
  }
}

button#export,button#import{
  background: lightblue;
  color: black;
}

button#export_table_csv,button#import_table_csv{
  background: lightsalmon;
  color: black;
}

button#show_stat_log{
  background: lightgreen;
  color: black;
}