#root {
  width: 100%;
  height :100%;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  color: snow;
}

*{
  box-sizing:border-box;
}

div{
  height:100%;
}

#playArea{
  height: 90%;
  
  table {
  width: 100%;
  height: 100%;
  border-collapse: collapse;
  }
  
  tr > td {
    border: 0px solid #000000;
  }
}

button#mainSwitch{
  width: 100%;
  height:100%;
  background-color: blue;
  border-radius: 0px;

  :hover{
  width: 100%;
  height:100%;
  box-shadow: 10px 5px 5px black;
  border-radius: 0px;
  }
}

#menu{
  height:10%;
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  justify-content:center;

  p{
    display: grid;
    grid-auto-flow: column;
    place-items: center;
    align-items: center;
    align-content: center;
    margin: 10%;
    padding-left: 15%;
    padding-right: 0%;
    grid-auto-flow: row;
    inline-size:95%;
    width:100%;
  }
  
  div{
    display: grid;
    grid-auto-flow: column;
    place-items: center;
    margin: 0.5% 1%;
    padding: auto;
    border: 1px solid blue;
    background-color: darkred;
    height: 75%;
    width: auto;
  }

  #table_cnt{
    background: darkgoldenrod;
  }

  #random{
    height: auto;
    width: auto;
    padding: 1%;
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    background: darkgreen;

    button{
      background: #000000;
      color: aqua;
      padding: 2%;
    }
  }

  input{
    width: 3rem;
    margin: 1% 0%;
    display: grid;
    grid-auto-flow: column;
    place-items: center;
  }

  input#hasAuto{
    width:20px;
    height: 20px;
    margin: 0px 10px 0px 10px;
  }

  button{
    display: grid;
    grid-auto-flow: column;
    place-items: center;
    align-items: center;
    margin: 1% 0%;
  }
  button#next{
    background: lightcoral;
  }
  button#reset{
    background: lightgreen;
    color: black;
    
  }

  #auto_step{
    display: grid;
  }

}