#root {
  width: 100%;
  height :100%;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

div{
  height:100%
}

#playArea{
  height: 90%;
  
  table {
  width: 100%;
  height: 100%;
  border-collapse: collapse;
  }
  
  tr > td {
    border: 0px solid #000000;
  }
}

button#mainSwitch{
  width: 100%;
  height:100%;
  background-color: blue;
  border-radius: 0px;

  :hover{
  width: 100%;
  height:100%;
  box-shadow: 10px 5px 5px black;
  border-radius: 0px;
  }
}

#menu{
  height:10%;

  p{
    display: contents;
  }

  input{
    width: 3rem;
  }
}